<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää pelaajat</h1>
    <form id="addPlayerForm" action="#" th:action="@{/addPlayers}" th:object="${player}" method="post">
    	<p>Pelaaja 1: <input type="text" th:field="*{name}" /></p>
        <p><input id="addPlayerButton" type="button" value="Lisää" /> <input type="reset" value="Tyhjennä" /></p>
    </form>
</body>
<script>
$(function() {
    $('#addPlayerButton').click(saveForm);
});


function saveForm(){
    $.ajax({
        method: "POST",
        url: "/addPlayers",
        data: $('#addPlayerForm').serialize(),
        success: function(status){
            if(status) {
                //here you check the response from your controller and add your business logic
            }
        }
    });
}
</script>

</html>