<!DOCTYPE HTML>
<html>
<head>
    <title>FribaStar: Add Players</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
	<input id="startGame" type="button" value="Aloita Peli" />
	<h1>Lisää pelaajat</h1>
    <form id="addPlayerForm" action="#" method="post">
    	<p><div id='player' style="display: inline">Pelaaja 1:</div> <input id="playerName" type="text" /></p>        
        <p><input id="addPlayerButton" type="button" value="Lisää" /> <input type="reset" value="Tyhjennä" /></p>
    </form>
</body>
<script>
//Javascript onclick without ajax
//<p><input id="addPlayerButton" type="button" value="Lisää" onclick="addPlayer()"/> <input type="reset" value="Tyhjennä" /></p>

//$(document).ready(function(){});
$(function() {
    $('#addPlayerButton').click(addPlayer);
    $('#startGame').click(startGame);
});

var i=1;
var players = [];

function addPlayer() 
{
	var player = document.querySelector('#playerName').value;
//	player = 'seppo';
//	console.log('Pelaaja: ' + player);
	var newP = document.createElement('p');
	newP.textContent = 'Pelaaja ' + i + ': ' + player;
	document.body.appendChild(newP);	
	
	players[i-1] = player;
	savePlayer(player);
	i = i + 1;
	
	playerText = document.querySelector('#player');
	playerText.innerHTML = 'Pelaaja ' + i + ':';
}

function savePlayer(newName){
    $.ajax({
        method: "POST",
        url: "/addPlayers",
        headers: { 
        	'Accept': 'application/json',
	       	'Content-Type': 'application/json;charset=UTF-8' 
    	},
        datatype: 'json',
        data: '{"name":"'+newName+'"}',
        success : function(data, textStatus, jqXHR ){
//            if(status) {
				console.log('data: ' + data);
            	console.log('status: ' + textStatus);
            	console.log('xhr: ' + jqXHR);
                //here you check the response from your controller and add your business logic
//            }
        },
        error : function(a, b, c)
        {
        	console.log('xhr: ' + a);
        	console.log('virhe: ' + b);
        	console.log('error: ' + c);
        }
    });
}

function startGame()
{
	var playerCount = 0;
	//If no players added, show error
	$.ajax({
		url: "/getPlayers"
	}).then(function(data) {
		playerCount = data.length;
		
		if(0 == playerCount)
			alert('Lisää ny ees yksi pelaaja ensin hei!!');
		else
			window.location = "/gamePlay";
	});			
}

</script>


</html>
