<!DOCTYPE HTML>
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
	<h1>Lisää pelaajat</h1>
    <form id="addPlayerForm" action="#" method="post">
    	<p>Pelaaja 1: <input type="text" /></p>
        <p><input id="addPlayerButton" type="button" value="Lisää" /> <input type="reset" value="Tyhjennä" /></p>
    </form>
</body>

<script>
$(function() {
    $('#addPlayerForm').click(saveForm);
});


function saveForm(){
    $.ajax({
        method: "POST",
        url: "/addPlayers",
        data: $('#addPlayerForm').serialize(),
        success: function(status){
           //if(status) {
            	console.log('Status: ', status);
                //here you check the response from your controller and add your business logic
           //}
        }
    });
}
</script>

</html>