<!DOCTYPE HTML>
<html>
<head>
    <title>FribaStar: Game Play</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
	<script src="/js/src/gamePlayJS.js"/>
	
	
</head>
<body>
	<input id="endGame" type="button" value="Lopeta Peli" />
	<input id="nextHole" type="button" value="Seuraava väylä" />
	<table>
		<thead>
			<tr>
				<th>Pelaaja</th>
				<th>Yht.</th>
				<th>Väylä 1</th>				
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</body>
</html>
